{% extends 'base.html' %} {% load crispy_forms_filters %}
{% block title %}
    <title>Task Manager</title>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'header.html' %}
        </div>
    </div>
    <div class="container mt-5 mb-5 col-lg-6 col-md-8 col-auto">
        <h1>Completed: {{ total_tasks }} %</h1>
        <div class="progress mb-5">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                 aria-valuenow="{{ total_tasks }}"
                 aria-valuemin="0" aria-valuemax="100" style="width: {{ total_tasks }}%;"></div>
        </div>
        <h1>Tasks:</h1>
        <div class="card mt-3 mb-3 p-3">
            <form class="ps-5 pe-5" method="GET">
                {{ filter.form|crispy }}
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="assigned_to_me"
                           {% if request.GET.assigned_to_me %}checked{% endif %}>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Assigned to me</label>
                </div>
                <button type="submit" class="btn btn-outline-warning btn-md mt-3">Apply</button>
            </form>
        </div>

        {% if tasks %}
            {% for task in tasks %}
                <div class="card border-dark mb-3 p-3">
                    <div class="row">
                        <div class="col">
                            <div class="card-header">
                                <h3 class="card-title"> {{ task.title }} </h3>
                                <p class="card-text"> {{ task.description }} </p>
                            </div>
                        </div>
                        <div class="col-auto d-flex justify-content-end">
                            {% if task.user == request.user %}
                                <div class="mt-2">
                                    <a href="{% url 'update_task' task.id %}"
                                       class="btn btn-primary btn-sm">Edit</a>
                                    <a href="{% url 'delete_task' task.id %}"
                                       class="btn btn-danger btn-sm">Delete</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Status: {% if task.status == 'done' %}
                            <span class="badge rounded-pill bg-success">{{ task.get_status_display }}</span>
                        {% elif task.status == 'wip' %}
                            <span class="badge rounded-pill bg-info">{{ task.get_status_display }}</span>
                        {% elif task.status == 'ns' %}
                            <span class="badge rounded-pill bg-danger">{{ task.get_status_display }}</span>
                        {% endif %}
                            |
                            Priority:   {% if task.priority == '0' %}
                                <span class="badge rounded-pill bg-success">{{ task.get_priority_display }}</span>
                            {% elif task.priority == '1' %}
                                <span class="badge rounded-pill bg-warning">{{ task.get_priority_display }}</span>
                            {% elif task.priority == '2' %}
                                <span class="badge rounded-pill bg-danger">{{ task.get_priority_display }}</span>
                            {% endif %}
                            |
                            Category:
                            <span class="badge rounded-pill bg-light">{{ task.get_category_display }}</span>
                            <br><br>
                            Deadline:
                            <span class="badge rounded-pill bg-dark"> {{ task.due_date|date:"d F Y H:i" }} </span>
                            |
                            Assigned To:
                            <span class="badge rounded-pill bg-info"> {{ task.assigned_to }} </span>

                        </p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No tasks available.</p>
        {% endif %}
    </div>

{% endblock %}

