{% extends 'base.html' %} {% load crispy_forms_filters %}
{% block title %}
    <title>Task Manager</title>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'header.html' %}
        </div>
    </div>
    <div class="container mt-5 col-lg-6 col-sm-8">
        <h1>Completed: {{ total_tasks }} %</h1>
        <div class="progress mb-5">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                 aria-valuenow="{{ total_tasks }}"
                 aria-valuemin="0" aria-valuemax="100" style="width: {{ total_tasks }}%;"></div>
        </div>
        <h1>Tasks:</h1>
        <div class="card mt-3 mb-3 p-3">
            <form method="GET">
                {{ filter.form.as_table }}
                <button type="submit" class="btn btn-primary btn-sm">Apply</button>
            </form>
        </div>
        <div class="card">
            <div class="card-body">
                {% if tasks %}
                    <ul class="list-group">
                        {% for task in filter.qs %}
                            {% if task.user == request.user %}
                                <li class="list-group-item">
                                    <strong>{{ task.title }}</strong> - {{ task.description }}<br>
                                    Due: {{ task.due_date|date:"d-m-Y H:i" }}<br>
                                    Status: {{ task.get_status_display }} | Priority: {{ task.get_priority_display }} |
                                    Category: {{ task.category }}
                                    <div class="mt-2">
                                        <a href="{% url 'update_task' task.id %}"
                                           class="btn btn-outline-primary btn-sm">Edit</a>
                                        <a href="{% url 'delete_task' task.id %}"
                                           class="btn btn-outline-danger btn-sm">Delete</a>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No tasks available.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

